# --- .NET ---
[Bb]in/
[Oo]bj/
.vs/
.vscode/
*.user
*.userprefs
appsettings.Development.json

# --- Carpetas de Publicación (CRÍTICO) ---
publish/
/publish/
[Pp]ublish/

# --- Python ---
IA/venv/
.venv/
env/
__pycache__/
*.pyc

# --- Archivos de Base de Datos Locales ---
*.mdf
*.ldf
appsettings.json
